.app-button {
  background-color: var(--color-primary);
  padding: var(--grid-unit);
  font-family: var(--font-family-base);
  height: calc(6 * var(--grid-unit));
  color: var(--color-background);
  border: 0px;
}
